<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Configure column</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-padding>
            <md-switch ng-repeat="column in allEpicDetailsColumns" class="md-primary" ng-model="column.show">
                {{column.title}}
            </md-switch>
        </div>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>